.metadata
*.tmp
*.swp

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project
.settings

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.gradle
build/
*.iml
projectFilesBackup/
/dig/web/analyzed.js
/dig/web/index.html
/dig/web/scripts/dependency.css
/dig/web/scripts/graph-actions-select.js
/dig/web/scripts/graph-actions-select-compiled.js
/dig/web/scripts/parse.js
/dig/web/scripts/parse-compiled.js
